<a href="https://colab.research.google.com/github/taeilkeemm/fordatastudy/blob/main/DMML_HW_8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({'Failure':[1, 1, 1, 1, 0, 0, 0, 0], 'Voltage':[5, 6, 7, 9, 8, 9, 10, 11]})

In [8]:
df_train = df[['Voltage']]
df_test = df[['Failure']]

In [9]:
df_train

   Voltage
0        5
1        6
2        7
3        9
4        8
5        9
6       10
7       11

In [10]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(df_train, df_test)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression()

In [11]:
print(model.coef_)

[[-0.88911972]]

In [13]:
print(model.intercept_)

[7.28064967]

In [12]:
print(model.score(df_train, df_test))

0.75