<a href="https://colab.research.google.com/github/taeilkeemm/fordatastudy/blob/main/Untitled15.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib as mlp
import matplotlib.pyplot as plt

In [2]:
!pip install pyproj

Collecting pyproj
  Downloading pyproj-3.2.1-cp37-cp37m-manylinux2010_x86_64.whl (6.3 MB)
     |████████████████████████████████| 6.3 MB 25.9 MB/s
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from pyproj) (2021.10.8)
Installing collected packages: pyproj
Successfully installed pyproj-3.2.1

In [3]:
import pyproj
import folium

In [4]:
df = pd.read_excel("잠실본동_빅데캠데이터.xlsx")

In [5]:
df['X'] = pd.to_numeric(df['X'], errors="coerce")
df['Y'] = pd.to_numeric(df['Y'], errors="coerce")


#df.index=range(len(df))

In [6]:
df

       택배착지량       X       Y
0    4984982  319558  545288
1    4886814  319343  545185
2    4887900  319339  545080
3    4892052  319378  545224
4    4884020  319500  545179
..       ...     ...     ...
139  4889207  318828  545314
140  4879560  318883  545353
141  4898508  319018  545195
142  4881740  318829  545094
143  4902400  318696  545113

[144 rows x 3 columns]

In [7]:
def project_array(coord, p1_type, p2_type):
    """
    좌표계 변환 함수
    - coord: x, y 좌표 정보가 담긴 NumPy Array
    - p1_type: 입력 좌표계 정보 ex) epsg:5179
    - p2_type: 출력 좌표계 정보 ex) epsg:4326
    """
    p1 = pyproj.Proj(init=p1_type)
    p2 = pyproj.Proj(init=p2_type)
    fx, fy = pyproj.transform(p1, p2, coord[:, 0], coord[:, 1])
    return np.dstack([fx, fy])[0]

In [8]:
# DataFrame -> NumPy Array 변환
coord = np.array(df)
coord

array([[4984982,  319558,  545288],
       [4886814,  319343,  545185],
       [4887900,  319339,  545080],
       [4892052,  319378,  545224],
       [4884020,  319500,  545179],
       [4884710,  319538,  545253],
       [4918155,  319333,  545017],
       [4871420,  319220,  545171],
       [4881924,  319421,  545340],
       [4882475,  319408,  545300],
       [4882320,  319628,  545219],
       [4894267,  319406,  544899],
       [4886663,  319306,  545294],
       [4873604,  319274,  545044],
       [4898518,  319519,  545119],
       [4897322,  319204,  545127],
       [4862718,  319476,  545002],
       [4879222,  319520,  545215],
       [4852724,  319229,  545350],
       [4896410,  319446,  545421],
       [4914645,  319436,  545379],
       [4905571,  319620,  545401],
       [4890208,  319514,  545060],
       [4886633,  319597,  545365],
       [4865095,  319398,  545551],
       [4852095,  319194,  545257],
       [4870663,  319420,  545027],
       [4881869,  319471,  545528],
       [4863971,  319704,  545328],
       [4895346,  319341,  545417],
       [4898938,  319670,  545435],
       [4869006,  319292,  545405],
       [4870411,  319480,  545451],
       [4892783,  319393,  545262],
       [4884448,  319376,  544941],
       [4877305,  319351,  545123],
       [4893211,  319577,  545326],
       [4913892,  319188,  545089],
       [4856150,  319447,  545087],
       [4908768,  318809,  545804],
       [4870019,  319008,  545382],
       [4887231,  318931,  545587],
       [ 487467,  319198,  545635],
       [4884026,  319055,  545232],
       [4895666,  319085,  545532],
       [4898957,  319245,  545860],
       [4886300,  319079,  545334],
       [4863370,  318993,  545813],
       [4868361,  318829,  545693],
       [4858179,  319212,  545813],
       [4866012,  318950,  545714],
       [4868039,  319259,  545647],
       [4853992,  319076,  545817],
       [4866035,  319288,  545653],
       [4859471,  318766,  545898],
       [4861168,  319111,  545741],
       [4856385,  319146,  545745],
       [4852508,  318851,  545807],
       [4894778,  318892,  545809],
       [4878671,  318762,  545797],
       [4864205,  318782,  545685],
       [4877543,  319093,  545373],
       [4889584,  319092,  545616],
       [4854659,  318806,  545544],
       [4875546,  319222,  545514],
       [4869465,  319190,  545507],
       [4865523,  318891,  545580],
       [4864069,  319369,  545544],
       [4887104,  318750,  545865],
       [4857331,  318850,  545573],
       [4855256,  319177,  545747],
       [4880450,  319051,  545609],
       [4907596,  318926,  545504],
       [4878531,  319281,  545526],
       [4896551,  319250,  545435],
       [4885368,  319011,  545601],
       [4870634,  319251,  545520],
       [4857531,  319339,  545538],
       [4861729,  318910,  545707],
       [4865781,  318990,  545721],
       [4864337,  319317,  545660],
       [4897957,  318918,  545394],
       [4867727,  318946,  545427],
       [4868886,  319362,  545695],
       [4889423,  319035,  545871],
       [4881319,  319113,  545453],
       [4910761,  319154,  545448],
       [4873312,  319032,  545460],
       [4867250,  319311,  545532],
       [4860713,  318991,  545464],
       [4878078,  319072,  545456],
       [4901182,  318870,  545701],
       [4870515,  319132,  545622],
       [4856898,  319270,  545753],
       [4857844,  318842,  545883],
       [4907786,  318908,  545878],
       [4871372,  319071,  545734],
       [4857023,  319239,  545752],
       [4870189,  319228,  545642],
       [4882890,  319041,  545295],
       [4870145,  319030,  545728],
       [4873795,  319167,  545629],
       [4856724,  319299,  545755],
       [4879032,  318971,  545594],
       [4852062,  318933,  545811],
       [4856553,  319208,  545749],
       [4895062,  319280,  544923],
       [4882383,  319073,  544985],
       [4893930,  319251,  544822],
       [4889718,  319169,  544956],
       [4849573,  318778,  544805],
       [4856154,  318883,  545004],
       [4910100,  319176,  545048],
       [4898784,  319274,  544883],
       [4868985,  319141,  544898],
       [4913091,  318975,  545079],
       [4898070,  319276,  544780],
       [4852537,  319294,  544964],
       [4888588,  319097,  545121],
       [4855996,  318902,  545052],
       [4899361,  318990,  545117],
       [4892333,  319005,  545156],
       [4876325,  319228,  544860],
       [4873138,  319059,  544844],
       [4332180,  319159,  544839],
       [4889097,  319059,  544916],
       [4896585,  319141,  545018],
       [4849598,  318967,  545008],
       [4872684,  319111,  544815],
       [4854428,  318777,  545029],
       [4892640,  318842,  545130],
       [4869697,  318816,  545059],
       [4857540,  318626,  545139],
       [4861791,  318643,  545083],
       [4893411,  318877,  545246],
       [4865524,  318778,  545211],
       [4897963,  318869,  545205],
       [4888447,  318748,  545122],
       [4887832,  318857,  545167],
       [4889207,  318828,  545314],
       [4879560,  318883,  545353],
       [4898508,  319018,  545195],
       [4881740,  318829,  545094],
       [4902400,  318696,  545113]])

In [9]:
p1_type = "epsg:2097"
p2_type = "epsg:4326"

# project_array() 함수 실행
result = project_array(coord, p1_type, p2_type)
result

/usr/local/lib/python3.7/dist-packages/pyproj/crs/crs.py:131: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  in_crs_string = _prepare_from_proj_string(in_crs_string)
/usr/local/lib/python3.7/dist-packages/pyproj/crs/crs.py:131: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  in_crs_string = _prepare_from_proj_string(in_crs_string)
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: DeprecationWarning: This function is deprecated. See: https://pyproj4.github.io/pyproj/stable/gotchas.html#upgrading-to-pyproj-2-from-pyproj-1
  # Remove the CWD from sys.path while we load stuff.

array([[172.5552655 ,  27.23226635],
       [171.8566189 ,  27.52047553],
       [171.86438395,  27.51725069],
       [171.89423886,  27.50526712],
       [171.8371203 ,  27.529709  ],
       [171.84219011,  27.52791912],
       [172.08054395,  27.42804445],
       [171.74581784,  27.56502773],
       [171.82183706,  27.5353784 ],
       [171.82574363,  27.53367232],
       [171.82535961,  27.53553459],
       [171.9101819 ,  27.49891937],
       [171.85541504,  27.52068407],
       [171.76167405,  27.55894216],
       [171.94096046,  27.48711334],
       [171.93136723,  27.48862893],
       [171.68414496,  27.5922872 ],
       [171.80279169,  27.54396979],
       [171.61142595,  27.62012045],
       [171.92564428,  27.49285982],
       [172.05585545,  27.43904838],
       [171.99169725,  27.46696958],
       [171.88148854,  27.51156821],
       [171.85616172,  27.52263082],
       [171.70097278,  27.58478974],
       [171.60678126,  27.62174701],
       [171.74104335,  27.56853648],
       [171.82160802,  27.5358599 ],
       [171.69390552,  27.59005853],
       [171.9176865 ,  27.49532533],
       [171.94446242,  27.48683841],
       [171.72872084,  27.57259631],
       [171.73943209,  27.56966246],
       [171.89952005,  27.50320903],
       [171.83977749,  27.5276561 ],
       [171.78848413,  27.54853545],
       [171.9031909 ,  27.50312203],
       [172.04966481,  27.43968998],
       [171.63680723,  27.6114352 ],
       [172.01184656,  27.4523806 ],
       [171.73505763,  27.56779618],
       [171.85824447,  27.51661613],
       [130.19908972,  36.33075654],
       [171.83569294,  27.52684853],
       [171.91912974,  27.49274937],
       [171.94319388,  27.48407247],
       [171.85206474,  27.52030367],
       [171.68723624,  27.58727421],
       [171.72255836,  27.57153179],
       [171.65062987,  27.60395689],
       [171.70608223,  27.57922156],
       [171.72166602,  27.57523222],
       [171.62004926,  27.61540776],
       [171.70736421,  27.58131797],
       [171.6584503 ,  27.59729606],
       [171.67179449,  27.59451182],
       [171.63750383,  27.608814  ],
       [171.60862192,  27.61833179],
       [171.91213956,  27.49413446],
       [171.79633578,  27.54074708],
       [171.69254114,  27.58346496],
       [171.78933888,  27.54618499],
       [171.87562661,  27.51071271],
       [171.62395857,  27.61171365],
       [171.77543846,  27.5528908 ],
       [171.73168039,  27.57059206],
       [171.70237345,  27.58028328],
       [171.69350297,  27.58762461],
       [171.85673686,  27.51583435],
       [171.64333294,  27.60413249],
       [171.6294812 ,  27.61233547],
       [171.8100474 ,  27.53735532],
       [172.00386543,  27.45657998],
       [171.79704643,  27.5444772 ],
       [171.92600512,  27.49119418],
       [171.84516327,  27.52261464],
       [171.74027671,  27.56754045],
       [171.64638747,  27.60667815],
       [171.67516433,  27.59157285],
       [171.70455449,  27.58015769],
       [171.69525742,  27.58650261],
       [171.93496325,  27.48493389],
       [171.71839065,  27.57414719],
       [171.72809025,  27.57339766],
       [171.87428553,  27.51082311],
       [171.81648241,  27.53519218],
       [172.02721231,  27.4487032 ],
       [171.75877867,  27.55825397],
       [171.71616983,  27.57788808],
       [171.66812609,  27.59508227],
       [171.7931069 ,  27.54447519],
       [171.95786024,  27.47512508],
       [171.73902904,  27.56712934],
       [171.64160495,  27.608099  ],
       [171.64699741,  27.60257146],
       [172.0051626 ,  27.45590535],
       [171.74498092,  27.5642157 ],
       [171.64240196,  27.60753239],
       [171.73700528,  27.56870353],
       [171.82750549,  27.53010505],
       [171.73603513,  27.567566  ],
       [171.76269135,  27.55769529],
       [171.64044874,  27.60879702],
       [171.79961519,  27.54102004],
       [171.60568137,  27.6201701 ],
       [171.6389176 ,  27.60871699],
       [171.91545327,  27.49577301],
       [171.82397732,  27.53180279],
       [171.90725852,  27.4989234 ],
       [171.87684043,  27.5108095 ],
       [171.58724321,  27.62649937],
       [171.63497265,  27.60780785],
       [172.02256731,  27.45079169],
       [171.94205279,  27.48476719],
       [171.72807111,  27.5716917 ],
       [172.04324681,  27.44069549],
       [171.93695412,  27.48688396],
       [171.61029427,  27.62108764],
       [171.86851135,  27.51367874],
       [171.63389838,  27.60839463],
       [171.94523973,  27.48125604],
       [171.89501756,  27.50205882],
       [171.78104741,  27.5506351 ],
       [171.75761896,  27.55893903],
       [167.71334863,  29.13463807],
       [171.87203059,  27.51193668],
       [171.92588815,  27.49039876],
       [171.58804765,  27.62763843],
       [171.75453193,  27.5606085 ],
       [171.62220002,  27.61220746],
       [171.89667615,  27.50011417],
       [171.73211092,  27.56751544],
       [171.64409671,  27.60208165],
       [171.6747281 ,  27.58967989],
       [171.90230916,  27.49806612],
       [171.70200733,  27.57955677],
       [171.93484427,  27.48460372],
       [171.86634861,  27.51186577],
       [171.86230442,  27.51437329],
       [171.87205504,  27.51013786],
       [171.80311078,  27.5389026 ],
       [171.93923355,  27.48394805],
       [171.81856212,  27.53213739],
       [171.96598996,  27.47042689]])

In [10]:
df['경도'] = result[:, 0]
df['위도'] = result[:, 1]

In [11]:
df

       택배착지량       X       Y          경도         위도
0    4984982  319558  545288  172.555265  27.232266
1    4886814  319343  545185  171.856619  27.520476
2    4887900  319339  545080  171.864384  27.517251
3    4892052  319378  545224  171.894239  27.505267
4    4884020  319500  545179  171.837120  27.529709
..       ...     ...     ...         ...        ...
139  4889207  318828  545314  171.872055  27.510138
140  4879560  318883  545353  171.803111  27.538903
141  4898508  319018  545195  171.939234  27.483948
142  4881740  318829  545094  171.818562  27.532137
143  4902400  318696  545113  171.965990  27.470427

[144 rows x 5 columns]

In [12]:
df.to_excel("잠실본동_좌표변환.xlsx")

In [13]:
df.reset_index()

     index    택배착지량       X       Y          경도         위도
0        0  4984982  319558  545288  172.555265  27.232266
1        1  4886814  319343  545185  171.856619  27.520476
2        2  4887900  319339  545080  171.864384  27.517251
3        3  4892052  319378  545224  171.894239  27.505267
4        4  4884020  319500  545179  171.837120  27.529709
..     ...      ...     ...     ...         ...        ...
139    139  4889207  318828  545314  171.872055  27.510138
140    140  4879560  318883  545353  171.803111  27.538903
141    141  4898508  319018  545195  171.939234  27.483948
142    142  4881740  318829  545094  171.818562  27.532137
143    143  4902400  318696  545113  171.965990  27.470427

[144 rows x 6 columns]