<a href="https://colab.research.google.com/github/taeilkeemm/fordatastudy/blob/main/%EB%B0%B1%EC%A4%80220107.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
a = int(input())
for i in range(1, 10):
  print(a,  "*", int(i), "=", int(a*i))

2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [7]:
t = int(input())
for i in range(1, t + 1):
  a, b = map(int, input().split())
  print(a+b)

5
1 2
3
3 4
7
4  4
8
5 6
11
5 7
12

In [8]:
a = int(input())
for i in range(1, a ):
  a = a + int(i)
print(a)

5
15

In [ ]:
import sys

t = int(input()) #Test case

for i in range(0, t):
  a, b = map(int, sys.stdin.readline().split())
  print(a+b)

In [19]:
a = int(input())
for i in range(1, a+1):
  print(i)

5
1
2
3
4
5

In [22]:
a = int(input())
for i in range(0, a):
  print(a-i)

5
5
4
3
2
1

In [26]:
t = int(input())
for i in range(1, t + 1):
  a, b = map(int, input().split())
  print("Case #" + str(i) + ": " + str(a+b))

5
1 2
Case #1 : 3
1 3
Case #2 : 4
1 3
Case #3 : 4
1 3
Case #4 : 4
 13 3
Case #5 : 16

In [28]:
t = int(input())
for i in range(1, t + 1):
  a, b = map(int, input().split())
  print("Case #" + str(i) + ": " + str(a) + " + " + str(b) + " = " + str(a+b))

5
1 3
Case #1: 1 + 3 = 4
12 4
Case #2: 12 + 4 = 16
1 3
Case #3: 1 + 3 = 4
3  6
Case #4: 3 + 6 = 9
45 89
Case #5: 45 + 89 = 134

In [30]:
a  = int(input())
for i in range(1, a+1):
  print("*"*i)

5
*
**
***
****
*****

In [34]:
a  = int(input())
for i in range(1, a+1):
  print(("*"*i).rjust(a))

5
    *
   **
  ***
 ****
*****

In [47]:
n, x = map(int, input().split())
num = list(map(int, input().split()))
for i in num:
  if i<x:
    print(i, end=" ")

10 5
1 4 6 8 0 3 4 7 3 2
1403432